{% extends "base.html.twig" %}

    {% block title %}{% trans %}Instagram{% endtrans %}{% endblock %}
    {% block body %}
        <div class="container-fluid my-3">
            <div class="row">
                <div class="col-12">
                    <div class="btn-group float-end">
                        <button data-bs-toggle="modal" data-bs-target="#modal-addAccount" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter un compte</button>
                    </div>
                    <h1>{% trans %}Instagram homepage{% endtrans %}</h1>
                </div>
            </div>
            
            {% for accountes in accounts|batch(4) %}
                <div class="row">
                {% for account in accountes %}
                    <div class="col-3 my-3">
                        <div class="card account h-100" data-account="{{ account.name }}">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ path('ics-socialnetwork-instagram-account',{name : account.name}) }}">
                                        {{ account.name }}
                                    </a>
                                </h4>
                                <p class="biography"><div class="spinner-border" role="status"></div></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                
            {% endfor %}
            
        </div>
        <div class="modal" id="modal-addAccount" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}Add Instagram account{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="addAccount" type="text" placeholder="Instagram account name"/>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addAccount" class="btn btn-success"><i class="fa fa-save"></i> {% trans %}Save{% endtrans %}</button>
                </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block stylesheets %}
    
    {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function(){
                $('.account').each(function(index,element){
                    var accountName = $(element).attr('data-account');
                    var el= $(element);
                    $.ajax({
                        url: "{{ path('ics-socialnetwork-instagram-preview') }}",
                        method: 'POST',
                        dataType: 'HTML',
                        data: {
                            account: accountName
                        }
                    }).done(function(account){
                        
                        if(account.trim() != 'nok')
                        {
                            el.html(account);
                        }
                        else
                        {
                            el.find('.card-body').find('.biography').html('');
                        }
                        
                    });
                });

                $('button#addAccount').click(function(){
                    var account = $('input#addAccount').val();
                    $('#modal-addAccount').modal('hide');
                    $.ajax({
                        url: "{{ path('ics-socialnetwork-instagram-account') }}/" + account,
                        dataType: 'HTML',
                    }).done(function(data){
                        window.location = "{{ path('ics-socialnetwork-instagram-account') }}/" + account;
                    });
                });

            });
        </script>
    {% endblock %}
    